:root {
	--text-color: #965ef0;
}

.App {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.text {
	color: var(--text-color);
	font-size: 7rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
